<%- include('partials/header') %>

<section id="bloc_project">
    <h2 class="projects_title"><% if (valueLanguage === 'english') { %> Projects <% } else { %> Projets
      <%}%></h2>
    <div class="projects_container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% for (project of projects) { %>
              <div class="swiper-slide">
                <div class="card">
                  <div class="card_image">
                    <img src="ressources/projects/<%= project.img %>" alt="Image qui représente un screenshoot du projet <%= project.name %>">
                  </div>
                  <div class="card_link-elt">
                    <a href="<%= project.url %>" class="card_link"><i class="fa-solid fa-link"></i></a>
                    <h3 class="card_title"><%= project.name %></h3>
                  </div>
                  <% if (valueLanguage === 'english') { %>
                    <p class="card_description"><%= project.text_en %></p>
                    <%} else { %>
                      <p class="card_description"><%= project.text_fr %></p>
                    <% } %>
                  <div class="card_languages">
                    <% const languageInProject = project.languages.split(' ')
                      for (let i = 0; i < languageInProject.length; i++) { %>
                      <div class="language_item"><%= languageInProject[i] %></div>
                   <% } %>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
        <div id="swiper-pagination" class="swiper-pagination"></div>
    </div>
</section>


<%- include('partials/footer') %>

