<%- include('partials/header') %>

<section id="swup" class="page-skills transition-fade">
  <h2 class="skills_title">
  </h2>
  <article class="skills_container">
    <div id="frontendSkills" class="skill_category-title">
      <img
        src="ressources/skills/skills_item.png"
        alt="Image qui représente le logo d'en-tête des skills"
      />
      <h3>Front-End</h3>
    </div>
    <div class="skills_category_item-container">
      <div class="skills_category_item">
        <% for (const skill of skillsFront) { %>
        <div class="skill-item">
          <img
            src="ressources/icon-dev/<%= skill.name %>.png"
            alt="Image qui représente la skill : <%= skill.name %>"
          />
        </div>
        <% } %>
      </div>
    </div>
  </article>
  <article class="skills_container">
    <div id="backendSkills" class="skill_category-title">
      <img
        src="ressources/skills/skills_item.png"
        alt="Image qui représente le logo d'en-tête des skills"
      />
      <h3>Back-End</h3>
    </div>
    <div class="skills_category_item-container">
      <div class="skills_category_item">
        <% for (const skill of skillsBack) { %>
        <div class="skill-item">
          <img
            src="ressources/icon-dev/<%= skill.name %>.png"
            alt="Image qui représente la skill <%= skill.name %>"
          />
        </div>
        <% } %>
      </div>
    </div>
  </article>
  <article class="skills_container">
    <div id="projectManagementSkills" class="skill_category-title">
      <img
        src="ressources/skills/skills_item.png"
        alt="Image qui représente le logo d'en-tête des skills"
      />
      <h3>Gestion de projet</h3>
    </div>
    <div class="skills_category_item-container">
      <div class="skills_category_item">
        <% for (const skill of skillsGest) { %>
        <div class="skill-item">
          <img
            src="ressources/icon-dev/<%= skill.name %>.png"
            alt="Image qui représente la skill <%= skill.name %>"
          />
        </div>
        <% } %>
      </div>
    </div>
  </article>
</section>

<%- include('partials/footer') %>
